@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  max-width: 1200px;
  padding: 16px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(15px);
  border-radius: 20px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);

  font-family: 'Manrope', sans-serif;
  z-index: 1000;
}


.logo {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #111;
  transition: 0.3s ease;
}

.logo:hover {
  opacity: 0.7;
}


.nav-btn {
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  background: #111;
  color: white;

  transition: all 0.3s ease;
}

.nav-btn:hover {
  background: #333;
  transform: translateY(-2px);
}